{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style="text-align: center;">Hi! I am Billa</h1>
<img src="https://pbs.twimg.com/profile_images/854184908289212416/az04cY04_400x400.jpg" style="border-radius: 20rem; display: block; margin: auto;" width="200rem" height="200rem;">
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
