<style type="text/css">
.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 20px;
    /* Vertically center the text there */
    background-color: white;
    color: #ffffff;
}
</style>


<div class="footer" style="text-align: center;">
    <strong><span style="color: #41a9f4">&#10024; Made with <span>&#x1F496;</span> by <span style="color: #b5d13c">Billa &#10024;</span></strong>
    </span>
</div>
